<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <ws2007HttpBinding>
        <binding name="NonSecureWs2007Http">
          <security mode="None" />
        </binding>
      </ws2007HttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="AlgaeServiceBehaviors" name="Algae.WcfServiceLibrary.PersistenceSvc">
        <endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="NonSecureWs2007Http"
          contract="Algae.WcfServiceLibrary.IPersistenceSvc">
          <identity>
            <dns value="" />
          </identity>
        </endpoint>
        <endpoint address="mex.wsdl" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.1.102/Algae.WcfServiceLibrary/PersistenceSvc/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="AlgaeServiceBehaviors">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="mex.wsdl"
            httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>