<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <ws2007HttpBinding>
        <binding name="Custom">
          <security mode="None" />
        </binding>
      </ws2007HttpBinding>
    </bindings>
    <services>
      <service name="YahooWcf.DuperSvc">
        <endpoint address="http://192.168.1.102:80/YahooWcf/DuperSvc/"
          binding="ws2007HttpBinding" bindingConfiguration="Custom" name="Ws2007Http"
          contract="YahooWcf.IDuperSvc" />
        <endpoint address="http://192.168.1.102:80/YahooWcf/DuperSvc/mex"
          binding="mexHttpBinding" name="MexHttp" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" httpGetUrl="http://192.168.1.102:80/YahooWcf/DuperSvc/mex" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
